.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}

.wrap > .line {
    height: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.wrap > .line > .title {
    flex-shrink: 0;
    width: 70px;
}

.wrap > .line > input {
    flex: 1;
}

.wrap > button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}