<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务端可视化管理</title>
    <link rel="icon" type="image/x-icon" href="../../../../common/images/favicon.ico">
    <link href="../../../../common/style.css" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="side">
    <div class="logo g-center-bg"></div>
    <div class="menu">
        <div class="item active">仪表盘</div>
        <div class="item">日志</div>
        <div class="item">埋点</div>
        <div class="item">数据库</div>
        <div class="item">接入设备</div>
        <div class="item">在线用户</div>
    </div>
</div>
<div class="content">
    <div class="head">
        <div>
            集群节点: 1
        </div>
        <div>
            程序版本: 1.0.0
        </div>
    </div>
    <iframe src="../dashboard"></iframe>
</div>
</body>
</html>